
/* #region HEADER */
.header {}

.header-container {}

.container {}

.nav {}

.logo {
    color: rgb(17, 17, 17);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -3%;
    text-align: left;
}

.logo-icon {}

.nav-list {}

.nav-item {}

.nav-link {}

.socials {}

.socials-item {}

.socials-link {}

.socials-icon {}
/* #endregion */
