*,
*::before,
*::after {
  box-sizing: border-box;
}
/* #region BODY*/

.body {
  font-family: 'Montserrat', sans-serif;
    background-color: #fafafa;
    color: #111111;
 }
/* #endregion */

/* #region common*/
.section-title { 
}
/* #endregion */

/* BENEFITS */

.benefits {
}
.benefits-title {
}
.benefits-list {
}
.benefits-item {
}
.benefits-subtitle {
}
.benefits-text {
}

/* INGRIDIENTS */

.ingredients {
}
.ingredients-title {
}
.ingredients-list {
}
.ingredients-item {
}
.ingredients-img {
}
.ingredients-subtitle {
}
